rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rapid_meta/prototype_state {
      allow read, write: if true;
    }
  }
}
